body {
    background-color: #1a1a1a; /* Fondo oscuro */
    color: #d4af37; /* Dorado suave */
    overflow-x: hidden;
}

header, footer {
    background-color: #333;
    color: #d4af37;
}

.bitcoin {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('bitcoin.png'); /* Imagen de Bitcoin */
    background-size: cover;
    animation: fall linear infinite;
}
